NODE_ENV=development
PORT=5000
MONGO_URI=mongodb+srv://tranthanh190823_db_user:4XdQRtWqAWIG15YI@cluster0.rj4mhhv.mongodb.net/datn_nuochoa?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=supersecret2026_datn
CLOUDINARY_CLOUD_NAME=dbwwxxif8
CLOUDINARY_API_KEY=474116513853432
CLOUDINARY_API_SECRET=FDQPBGCUP38zQTS24ph3mXaOEnU
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=your_gmail@gmail.com
SMTP_PASSWORD=your_gmail_app_password
FROM_NAME="DATN Nuoc Hoa"
FROM_EMAIL=your_gmail@gmail.com
YESCALE_API_KEY=sk-NuUh7amC3xSPlTraKv3skXauaCGEqZ0nN0PrYKCukU7o41c6
GHN_TOKEN=784abf04-8fe3-11f1-a973-aee5264794df
GHN_SHOP_ID=2520475